.Chat-main
  .Main-header
    .Main-header__list
      .Main-header__list__Groupname
        = @group.name
      .Main-header__list__Member
        - @group.users.each do |user|
          = user.name
    .Main-header__Edit
      = link_to edit_group_path(@group), class: "Main-header__Right-header" do
        = icon('far', 'address-card')
  .Messages
    = render @messages

  .Form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submit-btn'